
td {
    margin: auto;
    width: 80px;
}
.mdl-cell {
    text-align: -webkit-center;
}
.colorButton:hover {
    background-image: none !important;
}
.colorButton:enabled:active {
    background-image: none !important;
}
#scroll-tab-1, #scroll-tab-2, #scroll-tab-3, #scroll-tab-4, #scroll-tab-5, #scroll-tab-6, #scroll-tab-7 .page-content{
    padding:5px;
}
#previews {
    padding:5px;
}
#fixed-tab-2, #fixed-tab-3, #fixed-tab-4, #fixed-tab-5 .page-content{
    padding:5px;
}
.demoing{
    display: inline-block;
    margin-top :5px;
}

#other, #other_input {
    margin: 15px;
}

* {
     font-family: Verdana, Geneva, sans-serif;
 }

 .demo-card-square.mdl-card {
     width: 320px;
     height: 320px;
 }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #46B6AC;
}