td {
    margin: auto;
    width: 80px;

}

.demoing{
    display: inline-block;
    margin-top :5px;
}

#other, #other_input {
    margin: 15px;
}

* {
     font-family: Verdana, Geneva, sans-serif;
 }

 .demo-card-square.mdl-card {
     width: 320px;
     height: 320px;
 }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #46B6AC;
}
.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 100px;
    background-color: #3b5998;

}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}